global
    maxconn {{ haproxy_maxconn }}
    log stdout format raw local0

defaults
    log global
    mode tcp
    retries 3
    timeout connect 10s
    timeout client 30m
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:{{ haproxy_stats_port }}
    stats enable
    stats uri /
    stats refresh 10s

listen postgres
    bind *:{{ haproxy_port }}
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 1s fall 2 rise 1 on-marked-down shutdown-sessions

{% for host in groups['postgres_cluster'] | sort %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:5432 maxconn 100 check port 8008
{% endfor %}
